@page
@model SmartLife.Pages.About.EditModel

@{
    ViewData["Title"] = "Edit About";
}

<!-- Page Title -->
<div class="page-title dark-background">
  <div class="container">
    <h1>Admin</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a asp-page="/Index">Home</a></li>
        <li><a asp-page="/Admin/Index">Admin</a></li>
        <li class="current">Edit About</li>
      </ol>
    </nav>
  </div>
</div>
<!-- End Page Title -->

<!-- Admin Section -->
<section id="portfolio" class="portfolio section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Edit About</h2>
  </div>
  <!-- End Section Title -->
  <div class="container contact section-title" data-aos="fade-up">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-7">
        <form method="post" class="form" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-4">
            <div>
              <label class="w-100 mb-2 ps-2 text-start">Countries</label>
              <input asp-for="AboutData.Countries" style="border-radius: 5px" class="form-control" />
            </div>
            <div>
              <label class="w-100 mb-2 ps-2 text-start">Projects</label>
              <input asp-for="AboutData.Projects" style="border-radius: 5px" class="form-control" />
            </div>
            <div>
              <label class="w-100 mb-2 ps-2 text-start">Consultants</label>
              <input asp-for="AboutData.Consultants" style="border-radius: 5px" class="form-control"/>
            </div>
            <div>
              <label class="w-100 mb-2 ps-2 text-start">Employees</label>
              <input asp-for="AboutData.Employees" style="border-radius: 5px" class="form-control"/>
            </div>
            <div>
              <label class="w-100 mb-2 ps-2 text-start">Clients</label>
              <input asp-for="AboutData.Clients" style="border-radius: 5px" class="form-control"/>
            </div>
            <div>
              <label class="w-100 mb-2 ps-2 text-start">Branches</label>
              <input asp-for="AboutData.Branches" style="border-radius: 5px" class="form-control"/>
            </div>
            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>

              <button formaction="" type="submit">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container section-title" data-aos="fade-up">
    <h2>Add Growth</h2>
  </div>
  <!-- End Section Title -->
  <div class="container contact section-title" data-aos="fade-up">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-7">
        <form asp-page-handler="Add" method="post" class="form" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-4">
            <div>
              <label class="w-100 mb-2 ps-2 text-start">Year</label>
              <input name="year" style="border-radius: 5px" class="form-control" />
            </div>
            <div>
              <label class="w-100 mb-2 ps-2 text-start">Value</label>
              <input name="val" style="border-radius: 5px" class="form-control"/>
            </div>
            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>

              <button formaction="" type="submit">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container section-title" data-aos="fade-up">
    <h2>Edit Growth</h2>
  </div>
  <!-- End Section Title -->
  <div class="container contact section-title" data-aos="fade-up">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-7">
        <form method="post" class="form" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-4">
            @for(int i = 0; i < Model.AboutData.Growth.Count; i++)
            {
                <div>
                    <label class="w-100 mb-2 ps-2 text-start">Year</label>
                    <input asp-for="AboutData.Growth[@i].Item1" style="border-radius: 5px" class="form-control"
                    value="@Model.AboutData.Growth[i].Item1" />
                </div>
                <div>
                    <label class="w-100 mb-2 ps-2 text-start">Value</label>
                    <input asp-for="AboutData.Growth[@i].Item2" style="border-radius: 5px" class="form-control mb-5"
                    value="@Model.AboutData.Growth[i].Item2"/>
                </div>
            }
            
            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>

              <button formaction="" type="submit">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- /Admin Section -->
