@page
@model SmartLife.Pages.Partners.CreateModel

@{
    ViewData["Title"] = "Add Partner";
}

<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container">
        <h1>Dashboard</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-page="/Index">Home</a></li>
                <li><a asp-page="/Admin/Index">Admin</a></li>
                <li class="current">Add Partner</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<!-- Admin Section -->
<section id="portfolio" class="portfolio section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Add Partner</h2>
    </div><!-- End Section Title -->
    <div class="container contact section-title" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <form method="post" class="form" data-aos="fade-up" data-aos-delay="200" enctype="multipart/form-data"
                    asp-antiforgery="false">
                    <div class="row gy-4">
                        <div class="col-md-12">
                            <input asp-for="Partner.Name" style="border-radius: 5px;" class="form-control"
                                placeholder="Name (English)">
                            <span asp-validation-for="Partner.Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <input asp-for="Partner.NameAr" style="border-radius: 5px;" class="form-control"
                                placeholder="Name (Arabic)">
                            <span asp-validation-for="Partner.NameAr" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <input asp-for="Partner.Url" style="border-radius: 5px;" class="form-control"
                                placeholder="URL">
                            <span asp-validation-for="Partner.Url" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <textarea asp-for="Partner.Description" class="form-control" style="border-radius: 5px;"
                                placeholder="Description (English)"></textarea>
                            <span asp-validation-for="Partner.Description" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <textarea asp-for="Partner.DescriptionAr" class="form-control" style="border-radius: 5px;"
                                placeholder="Description (Arabic)"></textarea>
                            <span asp-validation-for="Partner.DescriptionAr" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <label class="w-100 mb-2 ps-2 text-start" for="Image">Upload Image</label>
                                <input asp-for="Image" style="border-radius: 5px;" class="form-control"
                                    placeholder="Image" required="">
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>

                            <button type="submit">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /Admin Section -->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
