@page "{id:int}"
@model SmartLife.Pages.News.EditModel

@{
    ViewData["Title"] = "Edit Post";
}

<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container">
        <h1>Dashboard</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-page="/Index">Home</a></li>
                <li><a asp-page="/Admin/Index">Admin</a></li>
                <li class="current">Edit Post</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<!-- Admin Section -->
<section id="portfolio" class="portfolio section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Edit Post</h2>
    </div><!-- End Section Title -->
    <div class="container contact section-title" data-aos="fade-up">
        <!--main detalis-->
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <form enctype="multipart/form-data" method="post" class="form" data-aos="fade-up" data-aos-delay="200" asp-antiforgery="false">
                    <input type="hidden" name="id" value="@Model.Post.Id" />
                    <div class="row gy-4">
                        <div class="col-md-12">
                            <label class="w-100 mb-2 ps-2 text-start">Title</label>
                            <input asp-for="Post.Title" required style="border-radius: 5px;" class="form-control"
                                placeholder="Title" required="">
                        </div>
                        <div class="col-md-12">
                            <label class="w-100 mb-2 ps-2 text-start">Content</label>
                            <textarea asp-for="Post.Content" class="form-control" style="border-radius: 5px;"
                                placeholder="Content" required=""></textarea>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <label class="w-100 mb-2 ps-2 text-start" for="image">Upload Image</label>
                                <input asp-for="Images" style="border-radius: 5px;" class="form-control"
                                    placeholder="Image" multiple>
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>

                            <button type="submit">Save</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <!--photo-->
        <div class="container mt-5">
            <h3 class="mb-4">Photos</h3>
            <div class="row gy-4">
                @for(int i = 0; i < Model.Post.Images.Count; i++)
                {
                    <div class="col-lg-4">
                        <form asp-asp-page-handler="DeletePhoto" class="form" asp-antiforgery="false">
                            <input type="hidden" name="modelId" value="@i" />
                            <input type="hidden" name="id" value="@Model.Post.Id" />
                            <img style="width: 100%;" src="Model.Post.Images[i]" alt="">
                            <div class="col-md-12 text-center mt-3">
                                <button type="submit">Delete</button>
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- /Admin Section -->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
