@page
@model SmartLife.Pages.Admin.PasswordModel

@{
    ViewData["Title"] = "Change Password";
}

<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container">
        <h1>Admin</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-page="/Index">Home</a></li>
                <li><a asp-page="/Admin/Index">Admin</a></li>
                <li class="current">Change Password</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<!-- partners Section -->
<section id="portfolio" class="portfolio section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Change Password</h2>
    </div><!-- End Section Title -->
    <!-- Section Title -->
    <div class="container contact section-title" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <form method="post" class="form" data-aos="fade-up" data-aos-delay="200" asp-antiforgery="false">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row gy-4">
                        <div class="col-md-12">
                            <input asp-for="OldPassword" style="border-radius: 5px;" type="password" class="form-control" placeholder="Old Password" required="">
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <input asp-for="NewPassword" style="border-radius: 5px;" type="password" class="form-control" placeholder="New Password" required="">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <input asp-for="ConfirmPassword" style="border-radius: 5px;" type="password" class="form-control" placeholder="Confirm New Password" required="">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div id="error"></div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>

                            <button id="submit" type="submit">Change</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- End Section Title -->
</section>
<!-- /partners Section -->

@section Scripts{
    <script>
        let confirm = document.getElementById("ConfirmPassword");
        let newPass = document.getElementById("NewPassword");
        let submit = document.getElementById("submit");

        submit.onclick = function(e){
            if (newPass.value != confirm.value)
            {
                e.preventDefault();
                document.getElementById("error").innerText = "Password not identical.";
            }
        }
    </script>

    @await Html.RenderPartialAsync("_ValidationScriptsPartial");
}