@{
    // TODO: fix for user
    bool isAr = StringComparer.OrdinalIgnoreCase.Equals(System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName, "ar");
}

<!DOCTYPE html>
<html direction="@(isAr ? "rtl" : "ltr")" lang="@(isAr ? "ar" : "en")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>@ViewData["Title"] - SmartLife</title>

    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/aos/aos.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/lib/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/css/main.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="portfolio-details-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

            <a asp-page="/Index" class="logo d-flex align-items-center me-auto me-xl-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1 class="sitename">SmartLife</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a asp-page="/Index" class="active">Home</a></li>
                    <li><a asp-page="/About/Index">About</a></li>
                    @await Component.InvokeAsync("ProductsMenu")
                    <li><a asp-page="/Partners/Index">Partners</a></li>
                    <li><a asp-page="/Clients/Index">Clients</a></li>
                    <li><a asp-page="/Team/Index">Team</a></li>
                    <li><a asp-page="/News/Index">Last News</a></li>
                    <li><a asp-page="/Contacts/Index">Contacts</a></li>
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <li><a asp-page="/Admin/Index">Admin</a></li>
                        <li><a asp-page="/Admin/Logout">Logout</a></li>
                    }
                    <li class="language-switcher">
                        <a href="#">
                            <i class="bi bi-globe me-1 text-success fs-6"></i>
                            <span class="language-text">EN/AR</span>
                        </a>
                    </li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <div class="header-social-links">
                <a href="https://youtube.com/@@smartlifecom?si=hdY7vixkDvCO5jZQ" class="youtube"><i class="bi bi-youtube"></i></a>
                <a href="https://www.facebook.com/share/1CaQ4VvXsQ/" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/smartlifeeg?igsh=OGsyNzZyZzR0ZGx1" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/company/smartlifeco/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

        </div>
    </header>

    <main class="main">
        @RenderBody()
    </main>

    <footer id="footer" class="footer dark-background">
        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a asp-page="/Index" class="d-flex align-items-center">
                        <span class="sitename">Smart Life</span>
                    </a>
                    @await Component.InvokeAsync("Contact")
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a asp-page="/Index">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a asp-page="/About/Index">About us</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a asp-page="/Partners/Index">Partners</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a asp-page="/Clients/Index">Clients</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a asp-page="/Products/Index">Products</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a asp-page="/News/Index">Last News</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a asp-page="/Team/Index">Team</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12">
                    <h4>Follow Us</h4>
                    <p>You can follow us here to discover more of our smart solutions</p>
                    <div class="social-links d-flex">
                        <a href="https://youtube.com/@@smartlifecom?si=hdY7vixkDvCO5jZQ"><i class="bi bi-youtube"></i></a>
                        <a href="https://www.facebook.com/share/1CaQ4VvXsQ/"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/smartlifeeg?igsh=OGsyNzZyZzR0ZGx1"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/smartlifeco/"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">SmartLife</strong> <span>All Rights Reserved</span></p>
            <div class="credits">
                <!-- TODO: link -->
                Designed by <a href="https://www.facebook.com/share/1AGyWmomEp/">NOVA Integrated Solutions</a>
            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/php-email-form/validate.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/lib/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>